.product{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    list-style: none;
    column-gap: 10px;
    border: 1px;
    border-color: solid #F3F3F3;
    
  }

.c_container{
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}
.main-top{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    h1{
        font-size: 32px;
    }
}
.search-input{
    border: none;
    margin-left: 10px;
}
.main-top-r{
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    color: #c7c7c7;
    border: 1px solid #F3F3F3;
    
}
.item{
    // display: flex;
    // flex-wrap: wrap;
    top: 79px;
        // border-radius: 40px;
        // border: 1px solid #F3F3F3;
        // padding: 20px;
        // margin-top: 50px;
        
    .product .img{
        width: 133px;
        height: 112px;
        top: 99;
        left: 33px;
        margin-left: 20px;

    //     top: 79px;
    //     border-radius: 40px;
    //     border: 1px solid #F3F3F3;
    }
    li{
        top: 79px;
        border-radius: 40px;
        border: 1px solid #F3F3F3;
        width: 210px;
        height: 260px;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    h2{
        font-size: 14px;
        line-height: 16.94px;
        font-weight: normal;
        margin-top: 10px;
        margin-left: 20px;
    }
    p{
        font-size: 14px;
        margin-left: 20px;
    }
    // .li-product{
        
    // }
}
.button-pr{
    border: none;
    background: none;
    
}
.button-pru{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.li-title{
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    color: #c7c7c7;
    
}
.black{
    color: black;
    font-weight: bold;
}